{% extends "mail/layout.html" %}

{% block body %}
<div class="access-form">
    <div class="card shadow" style="width: 25rem;">
        <div class="card-body">
            <h2 class="card-title">Register</h2>
            <div class="card-body">
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
                <div class="card-body">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input class="form-control" type="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Register">
                    </form>
                </div>
                <hr>
                <div class="card-body text-center">
                    <p class="card-text">Already have an account?</p>
                    <a class="btn btn-secondary btn-sm" href="{% url 'login' %}">Log In here.</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}